.regionRectStyle {
    fill: rgba(25, 119, 96, 0.1);
    stroke-width: 2;
    stroke:rgba(24, 218, 170, 0.5);
    stroke-dasharray: 2 3;
}

.regionRectStyle:hover {
    fill: rgba(100, 165, 154, 0.2);
    stroke: rgb(24, 218, 169);
}

.regionStyle.selected > .regionRectStyle {
    fill: rgba(100, 165, 154, 0.4);
    stroke-width: 2;
    stroke-dasharray: none;
    stroke: rgb(7, 189, 143);
}

.ancorStyle {
    stroke-width: 1;
    stroke: #ccc;
    fill: #333;
}

.ancorStyle.ghost, .ancorStyle.ghost:hover{
    stroke-width: 0;
    fill: rgba(255, 0, 0, 0);
}

.ancorStyle.ghost:hover {
    fill:rgba(7, 189, 143, 0.5);
}

.ancorStyle:hover {
    stroke: rgb(25, 119, 96);
    fill:rgb(7, 189, 143);
}

.regionStyle.selected .ancorStyle {
    stroke: rgb(7, 189, 143);
}