body {
    margin: 20px;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#controls div {
    margin: 20px 0;
}

#canvasToolsDiv {        
    display: grid;
    width: 100%;
    height: 664px;
    grid-template-columns: 100%;
    grid-template-rows: 64px calc(100% - 64px);
    margin:0;
    background: rgb(64,64,64);
}

#toolbarDiv {
    grid-row: 1/2;
    grid-column: 1;
    z-index: 10;
}

#toolbarDiv svg {
    width: 100%;
    height: 64px;
    margin-right:5px;
    background: #666;
    box-shadow: 0 0 0.5px #999, 5px 0px 10px -5px rgb(0,0,0);
}

#selectionDiv {
    grid-row: 2/3;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: rgb(64,64,64);   
}

#editorDiv svg {
    box-shadow: 0px 0px 0.25px #999, 0px 0px 10px rgb(0,0,0);
}